/*
Roboto:
thin 100
light 300
Regular 400
Medium 500
bold 700
*/

%font-robotoC {
  font-family: 'Roboto Condensed', sans-serif;
}

// DEFAULTS
$white: #fff;
$black: #000;
$t-1: all 0.3s ease-out;

$peru: peru;
$light-green: #3ddc97;
$light-blue: #00aeef;

$c-1: #f7f7f7;
$c-2: #282c34;
