:root {
  --font-roboto-c: 'Roboto Condensed', sans-serif;

  /* DEFAULT */
  --white: #{$white};
  --black: #{$black};
  --t-1: all 0.3s ease-out;

  --peru: #{$peru};
  --light-green: #{$light-green};
  --light-blue: #{$light-blue};

  --c-1: #{$c-1};
  --c-2: #{$c-2};
}
