@import './src/styles/_variables.scss';

#header {
  background-color: $c-2;
  padding-inline: 16px;
  height: 60px;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 2;
}

.logo {
  color: $white;
  font-weight: bold;
  text-decoration: none;
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}

// .nav {
//   display: flex;
//   color: $white;
// }

// .menu {
//   display: flex;
//   align-items: center;
//   margin-right: 16px;

//   li {
//     a {
//       font-weight: 500;
//       text-decoration: none;
//       padding-inline: 16px;
//       transition: $t-1;

//       &:hover {
//         color: $peru;
//       }
//     }
//   }
// }

.languages {
  display: flex;
  font-size: 12px;
  color: $white;

  li {
    a {
      background-color: transparent;
      padding: 8px;
      text-decoration: none;
      transition: $t-1;

      &:hover {
        background-color: $peru;
      }

      &.active {
        background-color: $peru;
      }
    }

    &:first-child {
      border-right: 1px solid $white;
    }
  }
}
